body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

h3 {
    text-align: center;
    color: #333;
}

nav {
    display: flex;
    flex-wrap: wrap; /* Allow tabs to wrap on small screens */
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #555;
    background-color: #ddd;
    border-radius: 4px;
    margin: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    font-size: 14px; /* Smaller font size for mobile */
}

.tab:hover {
    background-color: #ccc;
    color: #000;
    transform: translateY(-2px);
}

.tab.active {
    background-color: #4CAF50;
    color: white;
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tab-contents {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}

.tab-content {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}

.tab-content.active {
    opacity: 1;
    visibility: visible;
    position: static; /* Ensure it stays in place */
}

#tabel-gempabumi-5lebih, #tabel-gempabumi-dirasakan {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto; /* Enable horizontal scrolling on small screens */
    display: block; /* Ensure tables are block elements for scrolling */
}

#tabel-gempabumi-5lebih th, #tabel-gempabumi-dirasakan th,
#tabel-gempabumi-5lebih td, #tabel-gempabumi-dirasakan td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap; /* Prevent table cell content from wrapping */
}

#tabel-gempabumi-5lebih th, #tabel-gempabumi-dirasakan th {
    background-color: #4CAF50;
    color: white;
}

#tabel-gempabumi-5lebih tr:nth-child(even), #tabel-gempabumi-dirasakan tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tabel-gempabumi-5lebih tr:hover, #tabel-gempabumi-dirasakan tr:hover {
    background-color: #ddd;
}

.shakemap {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border: 1px solid #ddd;
}

@media (max-width: 768px) {
    .tab {
        padding: 8px 10px;
        font-size: 12px; /* Further decrease font size for very small screens */
    }

    h1 {
        font-size: 24px;
    }
}

tr {
    font-size: 16px;
}
td {
    font-size: 14px;
}